HelloWorldBuild/GreetInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GreetInterface" targetNamespace="http://HelloWorldBuild/GreetInterface" xmlns:tns="http://HelloWorldBuild/GreetInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://HelloWorldBuild/GreetInterface">
      <xsd:element name="sayHello">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sayHelloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="sayHelloRequestMsg">
    <wsdl:part element="tns:sayHello" name="sayHelloParameters"/>
  </wsdl:message>
    <wsdl:message name="sayHelloResponseMsg">
    <wsdl:part element="tns:sayHelloResponse" name="sayHelloResult"/>
  </wsdl:message>
    <wsdl:portType name="GreetInterface">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHelloRequestMsg" name="sayHelloRequest"/>
      <wsdl:output message="tns:sayHelloResponseMsg" name="sayHelloResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>